<h1>Estas creando un user</h1>

<% if @errors %>
    <ul>
	<% @errors.each do |error| %>
	    <li><%= error %></li>
	<% end %>
    </ul>
<% end %>

<%= form_for @user do |f| %>
<%= f.text_field :name %>
<%= f.submit %>
<% end %>
